DB_CONNECTION_STRING=user=admin password=pass dbname=delivery_db sslmode=disable host=localhost port=5434
RABBIT_CONNECTION=amqp://guest:guest@localhost:5672/
RABBIT_DELIVERY_QUEUE=MS_DELIVERY_QUEUE
RABBIT_ORDER_QUEUE=RABBIT_ORDER_QUEUE
