DB_CONNECTION_STRING=user=admin password=pass dbname=orders_db sslmode=disable host=localhost port=5433
JWT_SECRET=your_jwt_secret_change_in_production
RABBIT_CONNECTION=amqp://guest:guest@localhost:5672/
RABBIT_DELIVERY_QUEUE=MS_DELIVERY_QUEUE
RABBIT_ORDER_QUEUE=RABBIT_ORDER_QUEUE
URL_GET_ESTABLISHMENT_ID=http://localhost/api/auth/establishments/%d
ABACATEPAY_API_KEY=
ABACATEPAY_WEBHOOK_SECRET=
ABACATEPAY_RETURN_URL=
ABACATEPAY_COMPLETION_URL=
